@model GeoMedia_Proyecto.Models.tblCategoria

@{
    ViewBag.Title = "Insertar";
    if (Session["sesion"] == null)
    {
        Response.Redirect("~/GeoHome/Index");
    }
    else
    {
        if (Session["idRol"].Equals(2))
        {
            Response.Redirect("~/GeoHome/Index");
        }
    }
}

<div class="prt-body">
    <h2>@ViewBag.Title categoria</h2>

    @using (Html.BeginForm())
    {
        try
        {
            @Html.AntiForgeryToken()

        }
        catch (Exception)
        {

            Response.Redirect("~/GeoHome/Index");
        }

        <div class="form-horizontal" style="padding-left: 2.5em;">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @{
                if (!string.IsNullOrEmpty(ViewBag.message))
                {
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
                        @ViewBag.message
                    </div>
                }
            }
            <div class="form-group">
                @Html.Label("Codigo categoria")
                <div>
                    @Html.EditorFor(model => model.codCategoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codCategoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.categoria)
                <div>
                    @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    <input type="button" value="Regresar" class="btn btn-default" onclick="document.location.href='@Url.Content("~/tblCategorias/Index")'" />
                </div>
            </div>
        </div>
    }
</div>