@model GeoMedia_Proyecto.Models.tblUsuario
@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Registro de usuario - GeoMedia</title>
    <style type="text/css">
        body
        {
            background-image: url('../img/background.png');
            background-size: cover;
            overflow-y: hidden;
        }
        h1
        {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            text-align: center;
        }
        .auto-style1 {
            width: 170px;
        }
        .frmRegistro
        {
            width: 85%;
            height: 600px;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            background-color: rgba(0, 0, 0, 0.75);
            border-radius: 15px;
        }
        .banner-login
        {
            float: right;
            width: 35%;
            border-left: 2px solid #00ff82;
        }
        .banner-login img
        {
            background-size: 100% 100%;
            width: 100%;
            height: 600px;
        }
        .perfil
        {
            width: 100px;
            height: 100px;
            margin-left: 27%;
            margin-right: 65%;
        }
        .perfil img
        {
            margin-top: -15px;
            background-image:  radial-gradient(circle at top left, #fd00da, #19d7f8);
            border-radius: 200px;
            background-size: 100% 100%;
        }
        .login
        {
            width: 50%;
            margin: auto;
            padding: 0.5em;
            margin-bottom: 50px;
        }
        .login label
        {
            color: cyan;
            z-index: 20;
            font-size: 16pt;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            padding-right: 0.5em;
        }
        .login input
        {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 16pt;
            background-color: rgba(0, 0, 0, 0.25);
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            border-bottom: 2px solid #00ff82;
            border-radius: 5px;
            margin-bottom: 0.5em;

        }
        .login input:focus
        {
            border-bottom: 2px solid cyan;
        }
        input.acceder
        {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 16pt;
            background-color: #171717;
            cursor: pointer;
            border: solid 2px #310079;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
        /*
        media (max-width: 900px)
        {
            .banner-login
            {
                float: none;
                width: 0;
                display: none;
            }
            .banner-login img
            {
                width: 0px;
                height: 0px;
            }
            .login
            {
                width: 95%;
                margin: auto;
                padding: 0.25em;
                margin-bottom: 50px;
            }
            .perfil
            {
                width: 100px;
                height: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            body
            {
                background-size: auto;
                overflow-y: auto;
            }

        }*/
    </style>
</head>
<body>

        <div class="frmRegistro">
            <div class="banner-login">
                <img src="~/img/vide.jpg" alt="Banner-login" />
            </div>
            <div>
                <div class="perfil">
                    <img src="~/img/user.png" alt="Perfil-user" />
                </div>
                <h1>REGISTRO USUARIO</h1>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <table width="55%" class="login" border="0">
                        <tr>
                            <td class="auto-style1" style="width: 25%">
                                <label for="txtNombre">Nombre: </label>

                            </td>

                            <td>@Html.EditorFor(model => model.Nombre)</td>

                        </tr>

                        <tr>
                            <td class="auto-style1" style="width: 25%">
                                <label for="txtApellido">Apellido: </label>
                            </td>
                            <td>@Html.EditorFor(model => model.Apellido)</td>
                        </tr>

                        <tr>
                            <td class="auto-style1" style="width: 25%">
                                <label for="txtTelefono">Telefono: </label>
                            </td>
                            <td>@Html.EditorFor(model => model.Telefono)</td>

                        </tr>


                        <tr>
                            <td class="auto-style1" style="width: 25%">
                                <label for="txtMail">Correo: </label>
                            </td>
                            <td>@Html.EditorFor(model => model.Correo)</td>
                        </tr>

                        <tr>
                            <td class="auto-style1" style="width: 25%">
                                <label for="txtUser">Usuario: </label>
                            </td>
                            <td>@Html.EditorFor(model => model.nomUsuario)</td>
                        </tr>
                        <tr>
                            <td class="auto-style1" style="width: 25%">
                                <label for="txtPass">Contraseña: </label>
                            </td>
                            <td>@Html.PasswordFor(model => model.pass)</td>

                        </tr>
                        <tr>
                            <td class="auto-style1" style="width: 25%" colspan="2" align="middle">
                                <input type="submit" name="btnAcceder" value="Registrarse" class="acceder" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style1" style="width: 25%; margin-bottom: 0.5em" colspan="2" align="middle">
                                <a href="~/GeoHome/Registro" style="background-color:#171717; text-decoration: none; color: white; font-size: 16pt; border: solid 2px #310079; cursor: pointer; padding-left: 1.80em; padding-right: 1.80em; ">Restablecer</a><br />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style1" style="width: 25%" colspan="2" align="middle">
                                <a href="~/GeoHome/Login" style="background-color:#171717; text-decoration: none; color: white; font-size: 16pt; border: solid 2px #310079; cursor: pointer; padding-left: 2.35em; padding-right: 2.35em;">Regresar</a>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
</body>
</html>
