@model  List<GeoMedia_Proyecto.Models.DataViewModels.ViewProducto>
@{
    ViewBag.Title = "Series";
    var compras = Session["carrito"];
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="css/index.css" rel="stylesheet" />
    <style type="text/css">
        .picture-banner {
            background-image: url('../img/seri.jpg');
            background-size: 100% 100%;
            width: 100%;
            height: 300px;
            border: 3px solid #a900f7;
        }

        .picture-perfil {
            margin-top: -60px;
            margin-left: auto;
            margin-right: auto;
            width: 145px;
        }

            .picture-perfil img {
                background-color: #a900f7;
                background-size: 100% 100%;
                width: 120px;
                height: 120px;
                border: 2px solid #a900f7;
                border-radius: 200px;
            }

            .picture-perfil h1 {
                text-align: center;
                color: #a900f7;
            }

        div.galeria {
            margin: 16px;
            width: 150px;
            float: left;
            border: 1px solid #ccc;
        }

            div.galeria:hover {
                border: 1px solid #777;
            }

            div.galeria img {
                background-color: #a900f7;
                background-size: 100% 100%;
                width: 100%;
                height: 200px;
            }
    </style>

</head>
<body>
    <form id="form1">
        <div class="pagina">
            
            <div class="picture-banner">

                <div class="buscar">
                    <input type="search" name="txtBuscar" placeholder="Que desea buscar?" />
                </div>
                <input type="image" class="btnMenu" src="~/img/MENU3.png" />
                <div class="indice">
                    <h3>Series</h3>
                    <p style="text-align: justify; color: #1a1a1a;">
                        Es una obra, por lo general  <br />
                        narrativa de carácter audiovisual <br />
                        que se difunde por televisión, en <br />
                        entregas periódicas argumental o <br />
                        al menos temática conexión con los <br />
                        episodios anteriores y posteriores. <br />
                        Que cuentan de una o más arcos o <br />
                        temporadas. <br />
                        <br />
                        No debe confindirse con la pelicula <br />
                        o filme, aunque esta pueda tener <br />
                        también segundas partes (secueslas) <br />
                        o analepsis (precuelas), reboots o <br />
                        formar ciclos más o menos extensos <br />
                        en torno a un personaje. 

                    </p>
                </div>
            </div>
            <div class="picture-perfil">
                <img src="~/img/Series.png" alt="icon-peliculas" />
                <h1>Series</h1>
            </div>

            @foreach (var item in Model)
            {
                <div class="galeria">
                    <a href="~/Catalogo/Detalle/@item.idArchivo" target="_blank">
                        @if (item.ruta == null)
                        {
                            <img src="../../img/Series.png" alt="Imagen-Producto" />
                        }
                        else
                        {
                            <img src="@item.ruta" alt="pic1" />
                        } 
                    </a>
                    <div class="desc-opc">
                        <b>Titulo: </b>@item.titulo <br />
                        <b>Precio: </b>$@item.precio <br />
                        <input type="button" class="btn btn-default" name="details" value="Ver Más" onclick="document.location.href='@Url.Content("~/Catalogo/Detalle/"+item.idArchivo)'" />
                        @if (compras != null)
                        {
                            int CountCar = 0;
                            foreach (var compra in Session["carrito"] as List<GeoMedia_Proyecto.Models.DataViewModels.CarritoItem>)
                            {
                                if (compras != null && (compra.TblArchivos.idArchivo == item.idArchivo))
                                {
                                    CountCar++;
                                }
                            }
                            if (CountCar > 0)
                            {
                                <input type="button" class="btn btn-danger" name="car" value="Quitar" onclick="document.location.href='@Url.Content("~/Carrito/MiCarrito/")'" />
                            }
                            else
                            {
                                <input type="button" class="btn btn-success" name="car" value="Al carrito" onclick="document.location.href='@Url.Content("~/Carrito/AddCarrito/" + item.idArchivo)'" />
                            }
                        }
                        else
                        {
                            <input type="button" class="btn btn-success" name="car" value="Al carrito" onclick="document.location.href='@Url.Content("~/Carrito/AddCarrito/" + item.idArchivo)'" />
                        }
                    </div>
                </div>
            }

            <div class="pie-contenido">
                <h2>Tambien puedes ver:</h2>
                <div class="block-pie">
                    <a href="~/Catalogo/Peliculas">
                        <figure class="figuras peli">
                            <h3>Peliculas</h3>
                        </figure>
                    </a>
                    <a href="~/Catalogo/Series">
                        <figure class="figuras seri">
                            <h3>Series</h3>
                        </figure>
                    </a>
                    <a href="~/Catalogo/Videos">
                        <figure class="figuras vide">
                            <h3>Videos</h3>
                        </figure>
                    </a>
                    <a href="~/Catalogo/Musica">
                        <figure class="figuras musi">
                            <h3>Música</h3>
                        </figure>
                    </a>
                </div>
                <div class="pie">
                    <div class="texto-pie">
                        <h4>
                            Derechos reservados | GeoMedia - @DateTime.Now.Year
                        </h4>
                        <p>
                            Por problemas que se puedan presentar durante su experiencia,
                            por favor <a href="~/GeoHome/Contact">contactenos</a> para solventar sus inquietudes lo más
                            rapido posible. Por otra parte gracias por usar nuestro sitio.
                        </p>
                    </div>
                    <div class="redes">
                        <p>Puedes encontrarnos también en:</p>
                        <ul>
                            <li><a href="#" class="f-logo"><img src="~/img/f-logo.png" alt="facebook-logo" /></a></li>
                            <li><a href="#" class="w-logo"><img src="~/img/w-logo.png" alt="whatsapp-logo" /></a></li>
                            <li><a href="#" class="t-logo"><img src="~/img/t-logo.png" alt="twitter-logo" /></a></li>
                            <li><a href="#" class="i-logo"><img src="~/img/i-logo.png" alt="instagram-logo" /></a></li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>

    </form>
</body>
</html>
